# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

notes.txt
commands.txt
fens.txt
.env
.env.production

# deployment stuff
db/

sounds_unused

# other

index_with_WIP.ts
GamePage_WIP.tsx
gamesocket_WIP.tsx