/** Slate-teal marble board theme for Chessground */

[data-board-theme="jade"] cg-board {
  background-color: #93ab91;
}

[data-board-theme="jade"] cg-board::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('../assets/marble.1d855696.jpg');
  background-size: cover;
  pointer-events: none;
  z-index: 0;
}

[data-board-theme="jade"] cg-board square.move-dest {
  background: radial-gradient(rgba(10, 60, 50, 0.5) 22%, #1a7a62 0, rgba(0,0,0,0.3) 0, rgba(0,0,0,0) 0);
}
[data-board-theme="jade"] cg-board square.premove-dest {
  background: radial-gradient(rgba(20, 30, 85, 0.5) 22%, #203085 0, rgba(0,0,0,0.3) 0, rgba(0,0,0,0) 0);
}
[data-board-theme="jade"] cg-board square.oc.move-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(10, 100, 70, 0.3) 80%);
}
[data-board-theme="jade"] cg-board square.oc.premove-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 30, 85, 0.2) 80%);
}
[data-board-theme="jade"] cg-board square.move-dest:hover,
[data-board-theme="jade"] cg-board square.move-dest.hover {
  background: rgba(10, 100, 70, 0.3);
}
[data-board-theme="jade"] cg-board square.premove-dest:hover,
[data-board-theme="jade"] cg-board square.premove-dest.hover {
  background: rgba(20, 30, 85, 0.2);
}
[data-board-theme="jade"] cg-board square.last-move {
  background-color: rgba(0, 155, 199, 0.41);
}
[data-board-theme="jade"] cg-board square.selected {
  background-color: rgba(20, 85, 30, 0.5);
}
[data-board-theme="jade"] cg-board square.check {
  background: radial-gradient(
    ellipse at center,
    rgba(255,0,0,1) 0%,
    rgba(231,0,0,1) 25%,
    rgba(169,0,0,0) 89%,
    rgba(158,0,0,0) 100%
  );
}
[data-board-theme="jade"] cg-board square.current-premove {
  background-color: rgba(20, 30, 85, 0.5);
}

[data-board-theme="jade"] .orientation-white .ranks :nth-child(odd),
[data-board-theme="jade"] .orientation-white .files :nth-child(even),
[data-board-theme="jade"] .orientation-black .ranks :nth-child(even),
[data-board-theme="jade"] .orientation-black .files :nth-child(odd),
[data-board-theme="jade"] coords.squares:nth-of-type(odd) :nth-child(even),
[data-board-theme="jade"] coords.squares:nth-of-type(even) :nth-child(odd) {
  color: rgba(20, 50, 40, 0.85);
}
[data-board-theme="jade"] .orientation-white .ranks :nth-child(even),
[data-board-theme="jade"] .orientation-white .files :nth-child(odd),
[data-board-theme="jade"] .orientation-black .ranks :nth-child(odd),
[data-board-theme="jade"] .orientation-black .files :nth-child(even),
[data-board-theme="jade"] coords.squares:nth-of-type(odd) :nth-child(odd),
[data-board-theme="jade"] coords.squares:nth-of-type(even) :nth-child(even) {
  color: rgba(200, 230, 220, 0.9);
}
